// Code generated by Fern. DO NOT EDIT.

package notes

import (
	context "context"
	http "net/http"

	cftestapi "example.com/cftestapi"
	core "example.com/cftestapi/core"
	internal "example.com/cftestapi/internal"
	option "example.com/cftestapi/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &cftestapi.ListNotesRequest{}
//	client.Notes.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *cftestapi.ListNotesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *cftestapi.ListNotesResponseDataItem, *cftestapi.ListNotesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Base",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Base",
		),
		"https://cftest-api.gedw99.workers.dev",
	)
	endpointURL := baseURL + "/api/notes"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *cftestapi.ListNotesResponse) *core.PageResponse[*string, *cftestapi.ListNotesResponseDataItem, *cftestapi.ListNotesResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetData()
		return &core.PageResponse[*string, *cftestapi.ListNotesResponseDataItem, *cftestapi.ListNotesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &cftestapi.CreateNotesRequest{
//	    Body: "body",
//	}
//	client.Notes.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *cftestapi.CreateNotesRequest,
	opts ...option.RequestOption,
) (*cftestapi.CreateNotesResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Each event's SSE id is the note id, so a browser EventSource resumes by itself (Last-Event-ID).
//
// Example:
//
//	request := &cftestapi.WatchNotesRequest{}
//	client.Notes.Watch(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Watch(
	ctx context.Context,
	request *cftestapi.WatchNotesRequest,
	opts ...option.RequestOption,
) (*core.Stream[cftestapi.WatchNotesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Base",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Base",
		),
		"https://cftest-api.gedw99.workers.dev",
	)
	endpointURL := baseURL + "/api/notes/watch"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Accept", "text/event-stream")
	streamer := internal.NewStreamer[cftestapi.WatchNotesResponse](c.caller)
	return streamer.StreamWithReconnect(
		ctx,
		&internal.StreamParams{
			URL:                        endpointURL,
			Method:                     http.MethodGet,
			Headers:                    headers,
			MaxAttempts:                options.MaxAttempts,
			DisableRetries:             options.DisableRetries,
			BodyProperties:             options.BodyProperties,
			QueryParameters:            options.QueryParameters,
			Client:                     options.HTTPClient,
			MaxBufSize:                 options.MaxBufSize,
			MaxStreamReconnectAttempts: options.MaxStreamReconnectAttempts,
			DisableStreamReconnection:  options.DisableStreamReconnection,
			Prefix:                     internal.DefaultSSEDataPrefix,
			Terminator:                 "[end-of-stream]",
			Format:                     core.StreamFormatSSE,
			ErrorDecoder:               internal.NewErrorDecoder(cftestapi.ErrorCodes),
		},
	)
}
