// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as CftestApi from "../../../index.js";

export declare namespace NotesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NotesClient {
    protected readonly _options: NormalizedClientOptions<NotesClient.Options>;

    constructor(options: NotesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {CftestApi.ListNotesRequest} request
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CftestApiError}
     * @throws {@link errors.CftestApiTimeoutError}
     *
     * @example
     *     await client.notes.list()
     */
    public async list(
        request: CftestApi.ListNotesRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.Page<CftestApi.ListNotesResponse.Data.Item, CftestApi.ListNotesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: CftestApi.ListNotesRequest): Promise<core.WithRawResponse<CftestApi.ListNotesResponse>> => {
                const { cursor, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                };
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (
                                (await core.Supplier.get(this._options.environment)) ??
                                environments.CftestApiEnvironment.Default
                            ).base,
                        "api/notes",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as CftestApi.ListNotesResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.CftestApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/notes");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<CftestApi.ListNotesResponse.Data.Item, CftestApi.ListNotesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * @param {CftestApi.CreateNotesRequest} request
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.CftestApiError}
     * @throws {@link errors.CftestApiTimeoutError}
     *
     * @example
     *     await client.notes.create({
     *         body: "body"
     *     })
     */
    public create(
        request: CftestApi.CreateNotesRequest,
        requestOptions?: NotesClient.RequestOptions,
    ): core.HttpResponsePromise<CftestApi.CreateNotesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CftestApi.CreateNotesRequest,
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<CftestApi.CreateNotesResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.CftestApiEnvironment.Default)
                        .base,
                "api/notes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CftestApi.CreateNotesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CftestApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/notes");
    }

    /**
     * Each event's SSE id is the note id, so a browser EventSource resumes by itself (Last-Event-ID).
     */
    public watch(
        request: CftestApi.WatchNotesRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<CftestApi.WatchNotesResponse>> {
        return core.HttpResponsePromise.fromPromise(this.__watch(request, requestOptions));
    }

    private async __watch(
        request: CftestApi.WatchNotesRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<CftestApi.WatchNotesResponse>>> {
        const { after, seconds } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            seconds,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.CftestApiEnvironment.Default)
                        .base,
                "api/notes/watch",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        const _reconnect = async (lastEventId: string) => {
            const _reconnectResponse = await core.fetcher<ReadableStream>({
                url: core.url.join(
                    (await core.Supplier.get(this._options.baseUrl)) ??
                        (
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.CftestApiEnvironment.Default
                        ).base,
                    "api/notes/watch",
                ),
                method: "GET",
                headers: { ..._headers, "Last-Event-ID": lastEventId },
                queryString: core.url
                    .queryBuilder()
                    .addMany(_queryParams)
                    .mergeAdditional(requestOptions?.queryParams)
                    .build(),
                responseType: "sse",
                timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                abortSignal: requestOptions?.abortSignal,
                fetchFn: this._options?.fetch,
                logging: this._options.logging,
            });
            if (!_reconnectResponse.ok) {
                throw new Error("SSE stream reconnection failed");
            }
            if (_reconnectResponse.body == null) {
                throw new Error("SSE stream reconnection failed: empty response body");
            }
            return _reconnectResponse.body;
        };
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                        streamTerminator: "[end-of-stream]",
                        resumable: true,
                    },
                    reconnectionEnabled:
                        requestOptions?.stream?.reconnectionEnabled ?? this._options?.stream?.reconnectionEnabled,
                    maxReconnectionAttempts:
                        requestOptions?.stream?.maxReconnectionAttempts ??
                        this._options?.stream?.maxReconnectionAttempts,
                    reconnect: _reconnect,
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CftestApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/notes/watch");
    }
}
